<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>

</head>
<body>
    <link rel="stylesheet" href="/static/style.css">
    
    <div id="nav_bar" class="bg-primary" style="width: 100%; height: 100px;">
        <div id="buttons" class="col">
            <img class="text-start col" id="logo" src="/static/logo.png">

            <a href="/" class="bg-primary text-end" id="home">Home</a>

            <a href="/profile" class="bg-primary text-start" id="profile">Profile</a>

            <a href="/render_post" id="post_btn" class="bg-primary text-end">Post</a>

            <a href="/logout" class="bg-primary text-end">Log out</a>

        </div>
    </div>

    {% block content %}{% endblock %}
</body>
</html>